In [3]:
import pandas as pd
import numpy as np

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_37860\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

1. For loop on df
2. on list
3. on string
4. on dictionary
5. enumerate, items, iterrows, range
6. for else
7. for (if else) else

1. for i in list, tuple, dict keys or values
2. for i,j in dict.items()
3. for i in range(start, end)
4. for i in df.columns
5. for row_index, row_data in df.iterrows()
6. for column_name, column_data in df.items()
7. for index, element in enumerate -> list, tuple, set, string, np.array
8. appending inside for + if elif loop
9. indexing concept in string vs list , what could be done what could'nt be
10. what function or feature on string helps in iterating over it - split, join, compile in re, replace,
11. function + for
12. function + for + (if + elif + else)
13. function + for + (if + elif + else) + else
14. function with try :for + (if + elif + else) + break + else except
15. how to know how many parts an iterable has ?
16. mapping every thing to list comprehension
17. for with zip
18. fot with if (when we have some condition ) we use it in place of for else

In [4]:
for i, j in [4, 3, 2, 1]:
    print(f"i: {i}, j: {j}")

TypeError: cannot unpack non-iterable int object

In [ ]:
for item in [4, 3, 2, 1]:
    print(f"Item: {item}")

Item: 4
Item: 3
Item: 2
Item: 1

In [ ]:
for i, j in [(4, 'four'), (3, 'three'), (2, 'two'), (1, 'one')]:
    print(f"i: {i}, j: {j}")

i: 4, j: four
i: 3, j: three
i: 2, j: two
i: 1, j: one

In [ ]:
import pandas as pd
import numpy as np
import random

data1 = pd.DataFrame({
    "Col1": np.array(random.sample(["a","b",np.nan], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
})

data1

   Col1  Col2
0     b    20
1     b    30
2   nan    76
3   nan    75
4     b    89
5     a    84
6   nan    19
7     a    36
8     b    82
9     a    58
10    b    23
11    a    35
12    b    56
13    a    25
14  nan    64
15    b     5
16    b    75
17    b    96
18    b    80
19    a    34
20    b    39
21    a    83
22  nan    14
23    a    42
24  nan    14
25    a    53
26    a    19
27    b    29
28    b    37
29    b    43
30  nan    61
31    b    44
32    b    83
33    b    61
34  nan     3
35    b    84
36    a    24
37    a    90
38    a    62
39    b    41
40    b    35
41    a    36
42    b    27
43    b     2
44    b    29
45    b    92
46    b    79
47    a    84
48    b    43
49  nan    32
50    a    93
51    a    93
52    a    13
53    a    21
54    b    25
55    b    37
56  nan    73
57    b    69
58    b    48
59    a    99

In [ ]:
dict= {
    "Col1": np.array(random.sample(["a","b",np.nan], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
}

In [ ]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [ ]:
# np.nan is used for integer float, if it is used on string then it makes the column unassigned integer type for which many
# operation might not take place easily. The missing values in dictionary are given by null

In [ ]:
for i in dict:
    print(i)

Col1
Col2

In [ ]:
for i in dict.keys():
    print(i)

Col1
Col2

In [ ]:
for j in dict.values():
    print(j)

['a' 'a' 'b' 'a' 'b' 'b' 'a' 'b' 'b' 'b' 'a' 'b' 'b' 'b' 'b' 'a' 'b' 'b'
 'b' 'nan' 'a' 'a' 'b' 'a' 'b' 'b' 'nan' 'a' 'b' 'b' 'nan' 'a' 'b' 'nan'
 'a' 'b' 'b' 'a' 'b' 'b' 'nan' 'b' 'a' 'a' 'b' 'nan' 'b' 'b' 'a' 'b' 'nan'
 'a' 'nan' 'a' 'nan' 'b' 'nan' 'a' 'a' 'b']
[51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [ ]:
for i in dict["Col2"]:
    print(i)

In [ ]:
for i,j in dict.items():
    print(i, "has", j)

Col1 has ['a' 'a' 'b' 'a' 'b' 'b' 'a' 'b' 'b' 'b' 'a' 'b' 'b' 'b' 'b' 'a' 'b' 'b'
 'b' 'nan' 'a' 'a' 'b' 'a' 'b' 'b' 'nan' 'a' 'b' 'b' 'nan' 'a' 'b' 'nan'
 'a' 'b' 'b' 'a' 'b' 'b' 'nan' 'b' 'a' 'a' 'b' 'nan' 'b' 'b' 'a' 'b' 'nan'
 'a' 'nan' 'a' 'nan' 'b' 'nan' 'a' 'a' 'b']
Col2 has [51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [ ]:
# How to check what is there in the item

In [ ]:
# printing only for column Col2
for col,val in dict.items():
    if col=="Col2":
        print(val)

[51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [ ]:
# printing for column col2 and values divisible by 2
for col, val in dict.items():
    if col == "Col2":
        for val_items in val:
            if val_items%2 == 0:
                print(val_items)

54
62
42
6
8
40
46
34
70
98
62
78
74
36
40
48
50
94
62
32
96
90
10
42
96
28
80
58
86

In [ ]:
dict.items()

dict_items([('Col1', array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
       'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
       'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
       'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
       'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
      dtype='<U32')), ('Col2', array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
       65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
       50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
       10, 42, 96, 28, 80, 87,  7, 58, 86]))])

In [ ]:
a = [1,2,3]
b = {"a":[1,2,3],
     "c":[4,5,6]}

list(zip(a,b.values())) # b alone means keys

[(1, [1, 2, 3]), (2, [4, 5, 6])]

In [ ]:
my_list = [1, 2, 3]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry','d':'x','e':'y'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# For those indices pair can be formed are included in zip

In [ ]:
list(zip(dict.values(),dict["Col2"]))[0]

(array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 51)

In [ ]:
# printing for column col2 and values divisible by 2 and where col1 is a
# Iterate through the dictionary using items()
for key, values in dict.items():
    # Check if the current key is "Col1"
    if key == "Col1":
        # Iterate through the values and corresponding values in "Col2"
        for val1, val2 in zip(values, dict["Col2"]): # the pair id formed for attributes in col1 and col2
            # Check if the value in "Col1" is 'a' and the value in "Col2" is divisible by 2
            if val1 == 'a' and val2 % 2 == 0:
                print(val2)

54
62
46
70
98
62
74
48
50
62
90
10
96
58

In [ ]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [ ]:
# printing for column col2, col1 and values divisible by 2 and where col1 is a, print the pairs
for val1, val2 in zip(dict['Col1'],dict['Col2']):
    if val1 in ["a","b"] and val2%2 == 0:
        print(val1,"is ", val2)

a is  54
a is  62
b is  42
b is  6
b is  8
b is  40
a is  46
b is  34
a is  70
a is  98
a is  62
b is  78
a is  74
b is  36
a is  48
a is  50
a is  62
b is  32
b is  96
a is  90
a is  10
a is  96
b is  80
a is  58
b is  86

In [ ]:
my_dict = {'key1': [1,2,3], 'key2': [2,3,4], 'key3': [3,4,5]}
key_name = 'key2'

result = list(zip(my_dict.values(), [my_dict[key_name]]))
result

[([1, 2, 3], [2, 3, 4])]

In [ ]:
my_dict.values()

dict_values([[1, 2, 3], [2, 3, 4], [3, 4, 5]])

In [ ]:
my_dict[key_name]

[2, 3, 4]

In [ ]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [ ]:
for col,val in dict.items():# all values stays in col and all values remain in val
    print(val[2]) # this gives values for Col1 and Col2 2nd element
    print(type(val[2])) # shows separately

b
<class 'numpy.str_'>
81
<class 'numpy.int32'>

In [ ]:
my_dict

{'Col1': array(['a', 'b', 'nan', 'a', 'b'], dtype='<U32'),
 'Col2': array([39, 13, 48, 68, 76])}

In [ ]:
dict # Here the allocation of nan to string data values is not the right approach

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [ ]:
print(data)

{'key1': ['a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan], 'key2': array([0.19615734, 0.91052928, 0.60205909, 0.88099849, 0.35272271,
       0.89136729, 0.39858927, 0.75322531, 0.38194119, 0.08658276,
       0.15257104, 0.58993193, 0.48780965, 0.09487376, 0.52491868,
       0.33394694, 0.18277336, 0.63216154, 0.50881591, 0.63807984])}

In [ ]:
type(data)

dict

In [ ]:
dict.keys()

dict_keys(['Col1', 'Col2'])

In [ ]:
# Convert the missing values in key1 to boolean values using np.isnan():
is_missing = np.isnan(data['key1'])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
# None are used for string

dict= {
    "Col1": np.array(random.sample(["a","b",None], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
}

In [ ]:
dict

{'Col1': array(['b', 'a', 'b', 'b', 'a', 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b',
        'a', None, None, 'b', 'a', 'a', None, None, None, None, 'a', 'a',
        'a', 'a', 'b', None, 'b', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b',
        None, 'b', 'b', 'b', 'b', 'b', None, 'a', 'b', 'b', None, 'b', 'b',
        'b', 'b', 'a', 'b', 'a', 'a', 'b', 'b', 'b'], dtype=object),
 'Col2': array([25, 88, 93, 63, 34, 51, 42, 62,  5, 76, 25, 24, 99, 34, 48, 85, 36,
        13,  9, 92, 71, 55, 19, 80, 94, 32, 84, 29, 81, 68, 28, 44, 84, 49,
        72, 97,  1,  7, 44, 64, 26, 42, 44, 42, 15, 54, 71, 22, 46,  6, 46,
        68, 47, 56, 75, 40, 87,  7, 47, 28])}

In [ ]:
# for dict find the obs in Col2 which are multiple of 4 with values in col1 either missing or a
for val1, val2 in zip(dict['Col1'],dict['Col2']):
    if val1 in ['a',None]:
        print(val2)

88
34
51
42
5
24
34
48
85
13
9
92
71
55
19
80
94
32
84
81
28
84
97
44
15
54
46
56
40
87

In [ ]:
# Iterate through the values in Col1 and Col2 simultaneously
for val1, val2 in zip(my_dict["Col1"], my_dict["Col2"]):
    # Check if the value in Col2 is a multiple of 4 and the value in Col1 is either missing or 'a'
    if val2 % 4 == 0 and (val1 is None or val1 == 'a'):
        print(val2)

8
80
56

In [ ]:
dataset = pd.read_csv("D:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Real Python\stud.csv")

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\Ransingh\AppData\Local\Temp\ipykernel_32604\3988117044.py:1: SyntaxWarning: invalid escape sequence '\E'
  dataset = pd.read_csv("D:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Real Python\stud.csv")

In [ ]:
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
dict

{'Col1': array(['b', 'a', 'b', 'b', 'a', 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b',
        'a', None, None, 'b', 'a', 'a', None, None, None, None, 'a', 'a',
        'a', 'a', 'b', None, 'b', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b',
        None, 'b', 'b', 'b', 'b', 'b', None, 'a', 'b', 'b', None, 'b', 'b',
        'b', 'b', 'a', 'b', 'a', 'a', 'b', 'b', 'b'], dtype=object),
 'Col2': array([25, 88, 93, 63, 34, 51, 42, 62,  5, 76, 25, 24, 99, 34, 48, 85, 36,
        13,  9, 92, 71, 55, 19, 80, 94, 32, 84, 29, 81, 68, 28, 44, 84, 49,
        72, 97,  1,  7, 44, 64, 26, 42, 44, 42, 15, 54, 71, 22, 46,  6, 46,
        68, 47, 56, 75, 40, 87,  7, 47, 28])}

In [ ]:
for i in range(1,len(dict['Col1'])):
    print(i)

In [ ]:
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
for i in dataset.columns:
    print(i)

gender
race_ethnicity
parental_level_of_education
lunch
test_preparation_course
math_score
reading_score
writing_score

In [ ]:
# filtering rows using for loop
filtered_row = list() 
for rw_indx, row in dataset.iterrows(): # here row contains information on column name also, as list element index
    if row['gender']=='male':
        filtered_row.append(row)
        
result_df = pd.DataFrame(filtered_row) # it automatically assigns column names

In [ ]:
result_df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
...,...,...,...,...,...,...,...,...
985,male,group A,high school,standard,none,57,51,54
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55

In [ ]:
# We usually use append to combine list output when we want row as output
list_for_keeping_filtered_element = list()
for row_index , row in dataset.iterrows():
    if row_index%2 == 0 and row['race_ethnicity'] in ['group A', 'group B']:
        list_for_keeping_filtered_element.append(row_index)
        
dataset.iloc[list_for_keeping_filtered_element,]

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
12,female,group B,high school,standard,none,65,81,73
14,female,group A,master's degree,standard,none,50,53,58
...,...,...,...,...,...,...,...,...
976,male,group B,some college,free/reduced,completed,60,62,60
980,female,group B,high school,free/reduced,none,8,24,23
982,male,group B,some high school,standard,completed,79,85,86
988,female,group A,some high school,free/reduced,none,44,45,45
994,male,group A,high school,standard,none,63,63,62

In [ ]:
list(dataset.items())[1][0]

'race_ethnicity'

In [ ]:
dataset.iterrows()

In [ ]:
print(list(dataset.items())[1])

('race_ethnicity', 0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race_ethnicity, Length: 1000, dtype: object)

In [ ]:
# The best usage of dataframe.items is doing any string operation on the column names directly:
for column_name, column_value in dataset.items(): 
    # we cannot use isinstance here as dataset.items() is a generator object
    # and the yields an object combining column name and column value in pair and thus is of object type, so we cannot filter
    # int and float type and if we select object then all variable are selected.
    if pd.api.types.is_numeric_dtype(column_value):
        dataset[column_name] = column_value * 10

In [ ]:
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,720,720,740
1,female,group C,some college,standard,completed,690,900,880
2,female,group B,master's degree,standard,none,900,950,930
3,male,group A,associate's degree,free/reduced,none,470,570,440
4,male,group C,some college,standard,none,760,780,750
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,880,990,950
996,male,group C,high school,free/reduced,none,620,550,550
997,female,group C,high school,free/reduced,completed,590,710,650
998,female,group D,some college,standard,completed,680,780,770
999,female,group D,some college,free/reduced,none,770,860,860

In [ ]:
# If some pattern is there in the column_name
for column_name, column_value in dataset.items():
    if 'score' in column_name:
        dataset.loc[:,column_name]*=10
        
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,7200,7200,7400
1,female,group C,some college,standard,completed,6900,9000,8800
2,female,group B,master's degree,standard,none,9000,9500,9300
3,male,group A,associate's degree,free/reduced,none,4700,5700,4400
4,male,group C,some college,standard,none,7600,7800,7500
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,8800,9900,9500
996,male,group C,high school,free/reduced,none,6200,5500,5500
997,female,group C,high school,free/reduced,completed,5900,7100,6500
998,female,group D,some college,standard,completed,6800,7800,7700
999,female,group D,some college,free/reduced,none,7700,8600,8600

why not ????
 
 
for col, value in df.items():

    if col.contains('score')==True:

        df.loc[:, col] *= 10
        

Incorrect Method: DataFrame objects don't have a method named contains(). The appropriate method to check for substrings within column names is startswith().

In [ ]:
# we can also use re.search
import re

pattern = r"score"  # Match "score" or "scare" or similar variations
for col, value in dataset.items():
    if re.search(pattern, col):
        dataset.loc[:, col] *= 10
        
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72000,72000,74000
1,female,group C,some college,standard,completed,69000,90000,88000
2,female,group B,master's degree,standard,none,90000,95000,93000
3,male,group A,associate's degree,free/reduced,none,47000,57000,44000
4,male,group C,some college,standard,none,76000,78000,75000
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88000,99000,95000
996,male,group C,high school,free/reduced,none,62000,55000,55000
997,female,group C,high school,free/reduced,completed,59000,71000,65000
998,female,group D,some college,standard,completed,68000,78000,77000
999,female,group D,some college,free/reduced,none,77000,86000,86000

In [ ]:
dir("all")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
re.__all__

['match',
 'fullmatch',
 'search',
 'sub',
 'subn',
 'split',
 'findall',
 'finditer',
 'compile',
 'purge',
 'template',
 'escape',
 'error',
 'Pattern',
 'Match',
 'A',
 'I',
 'L',
 'M',
 'S',
 'X',
 'U',
 'ASCII',
 'IGNORECASE',
 'LOCALE',
 'MULTILINE',
 'DOTALL',
 'VERBOSE',
 'UNICODE',
 'NOFLAG',
 'RegexFlag']

In [ ]:
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [ ]:
print(re.sub.__doc__)

Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [ ]:
type(filtered_row)

list

In [ ]:
filtered_row[1]['gender']

'male'

In [ ]:
for column_number, column_name in enumerate(dataset):
    print(f"{column_number} has {column_name}")

0 has gender
1 has race_ethnicity
2 has parental_level_of_education
3 has lunch
4 has test_preparation_course
5 has math_score
6 has reading_score
7 has writing_score

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Using enumerate with iterrows
for index, (row_index, row_data) in enumerate(df.iterrows()):
    print(f"Index: {index}, Row Index: {row_index}, Row Data:\n{row_data}\n")

Index: 0, Row Index: 0, Row Data:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object

Index: 1, Row Index: 1, Row Data:
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

Index: 2, Row Index: 2, Row Data:
Name        Charlie
Age              22
City    Los Angeles
Name: 2, dtype: object

In [ ]:
# string/re + for loop + apply is a great combination => find for single cell then replicate that to other in a column using apply

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
for i in a:
    if 'b' in i:
        break
    print(i)

foo

In [ ]:
for i in a:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [ ]:
# The else block run only when for loop runs successfully
for i in a:
    print(i)
else:
    print('Done')

foo
bar
baz
qux
Done

In [ ]:
for i in a:
    if 'b' in i:
        continue
    print(i)
else:
    print('Done')

foo
qux
Done

In [ ]:
for i in a:
    if 'b' in i:
        break
    print(i)
else:
    print('Done')

foo

In Python, an iterable is an object that you can use in an iteration. If an object is iterable, then you can pass it to the built-in 
iter()
 function, which returns 
an iterator
.

In [ ]:
d = {"foo": 1, "bar": 2, "baz": 3}

In [ ]:
for x in d.items():
    print(x, end=" ")

('foo', 1) ('bar', 2) ('baz', 3)

In [ ]:
# Example 1: Append even numbers, otherwise append -1
result1 = []
for i in range(10):
    if i % 2 == 0:
        result1.append(i)
    else:
        result1.append(-1)
        
result1

[0, -1, 2, -1, 4, -1, 6, -1, 8, -1]

In [ ]:
# Example 2: Append squares of numbers greater than 5, otherwise append the number itself
result2 = []
for i in range(10):
    if i > 5:
        result2.append(i**2)
    else:
        result2.append(i)
result2

[0, 1, 2, 3, 4, 5, 36, 49, 64, 81]

In [ ]:
# Example 3: Append 'even' or 'odd' based on the number
result3 = []
for i in range(5):
    if i % 2 == 0:
        result3.append('even')
    else:
        result3.append('odd')
        
result3

['even', 'odd', 'even', 'odd', 'even']

In [ ]:
# Example 4: Append multiples of 3, otherwise append 'not a multiple'
result4 = []
for i in range(10):
    if i % 3 == 0:
        result4.append(i)
    else:
        result4.append('not a multiple')
result4

[0,
 'not a multiple',
 'not a multiple',
 3,
 'not a multiple',
 'not a multiple',
 6,
 'not a multiple',
 'not a multiple',
 9]

In [ ]:
# Example 5: Append 'positive' or 'negative' based on the number
result5 = []
for i in range(-3, 4):
    if i > 0:
        result5.append('positive')
    else:
        result5.append('negative')
result5

['negative',
 'negative',
 'negative',
 'negative',
 'positive',
 'positive',
 'positive']

In [ ]:
# Example 6: Append numbers divisible by 2 and 3, otherwise append 'not divisible'
result6 = []
for i in range(10):
    if i % 2 == 0 and i % 3 == 0:
        result6.append(i)
    else:
        result6.append('not divisible')
result6

[0,
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 6,
 'not divisible',
 'not divisible',
 'not divisible']

In [ ]:
# Example 7: Append 'upper' or 'lower' based on the character case
result7 = []
for char in 'Hello World':
    if char.isupper():
        result7.append('upper')
    else:
        result7.append('lower')
result7

['upper',
 'lower',
 'lower',
 'lower',
 'lower',
 'lower',
 'upper',
 'lower',
 'lower',
 'lower',
 'lower']

In [ ]:
# Example 8: Append grades based on score
scores = [85, 92, 78, 60, 45, 95]
grades = []
for score in scores:
    if score >= 90:
        grades.append('A')
    elif 80 <= score < 90:
        grades.append('B')
    elif 70 <= score < 80:
        grades.append('C')
    else:
        grades.append('F')
        
grades

['B', 'A', 'C', 'F', 'F', 'A']

In [ ]:
# Example 9: Append numbers or their squares based on condition
numbers = [1, 2, 3, 4, 5]
result9 = []
for num in numbers:
    if num % 2 == 0:
        result9.append(num**2)
    else:
        result9.append(num)
        
result9

[1, 4, 3, 16, 5]

In [ ]:
# Example 10: Append 'positive', 'negative', or 'zero' based on the number
result10 = []
for i in [-2, 0, 3, -5, 1]:
    if i > 0:
        result10.append('positive')
    elif i < 0:
        result10.append('negative')
    else:
        result10.append('zero')
result10

['negative', 'zero', 'positive', 'negative', 'positive']

In [ ]:
# Example 11: Append 'even' or 'odd' based on the length of words
words = ['apple', 'banana', 'grape', 'kiwi']
result11 = []
for word in words:
    if len(word) % 2 == 0:
        result11.append('even')
    else:
        result11.append('odd')
result11

['odd', 'even', 'odd', 'even']

In [ ]:
# Example 12: Append numbers squared if positive, otherwise append the original number
numbers2 = [4, -3, 7, -1, 0]
result12 = []
for num in numbers2:
    if num > 0:
        result12.append(num**2)
    else:
        result12.append(num)
result12

[16, -3, 49, -1, 0]

In [ ]:
# Example 17: Append 'even' or 'odd' based on the sum of two numbers
numbers5 = [(2, 5), (1, 3), (6, 2), (7, 4)]
result17 = []
for num1, num2 in numbers5:
    if (num1 + num2) % 2 == 0:
        result17.append('even')
    else:
        result17.append('odd')
result17

['odd', 'even', 'even', 'odd']

In [ ]:

a = ["pos", "gos", "pos_1"]

for i in a:
    print(i)

pos
gos
pos_1

In [ ]:
for i in range(0, len(a)):
    print(a[i])

pos
gos
pos_1

In [ ]:
# replace pos with pos_updated
updated = list()
for item in a:
    if item == 'pos':
        updated_item = "pos_updated"
    else:
        updated_item = item
    updated.append(updated_item)
updated

['pos_updated', 'gos', 'pos_1']

In [ ]:
# replace where pattern pos is found with pos_updated
updated_data = []
for item in a:
    if "pos" in item:
        updated_item = item.replace("pos", "pos_updated")
    else:
        updated_item = item
    updated_data.append(updated_item)
updated_data

['pos_updated', 'gos', 'pos_updated_1']

In [ ]:
import pandas as pd
judge = pd.read_csv("./basketball/judge.csv")
stanton = pd.read_csv("./basketball/stanton.csv")

In [ ]:
judge.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.0,0.0,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.0,0.0,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.0,0.0,NaN,NaN,NaN,NaN,NaN,36,4

In [ ]:
# 1. For loop to change the name of the column in judge where pos is present and change it to pos_updated
for col_name, col_value in judge.items():
    if 'pos' in col_name:
        print(col_name)

release_pos_x
release_pos_z
pos2_person_id
pos1_person_id
pos2_person_id.1
pos3_person_id
pos4_person_id
pos5_person_id
pos6_person_id
pos7_person_id
pos8_person_id
pos9_person_id
release_pos_y

In [ ]:
# For loop to change the names of column in judge where pos is present and change the pos to pos_updated
new_col = list()
for col_name, col_value in judge.items():
    if 'pos' in col_name:
        word = re.sub('pos','pos_updated',col_name)
        new_col.append(word)
    else:
        new_col.append(col_name)
        
judge1 = judge
judge1.columns = new_col        
        
print(new_col)
judge1

['pitch_type', 'game_date', 'release_speed', 'release_pos_updated_x', 'release_pos_updated_z', 'player_name', 'batter', 'pitcher', 'events', 'description', 'spin_dir', 'spin_rate_deprecated', 'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des', 'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type', 'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x', 'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b', 'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y', 'tfs_deprecated', 'tfs_zulu_deprecated', 'pos_updated2_person_id', 'umpire', 'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot', 'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed', 'release_spin_rate', 'release_extension', 'game_pk', 'pos_updated1_person_id', 'pos_updated2_person_id.1', 'pos_updated3_person_id', 'pos_updated4_person_id', 'pos_updated5_person_id', 'pos_updated6_person_id', 'pos_updated7_person_id', 'pos_updated8_person_id', 'pos_updated9_person_id', 'release_pos_updated_y', 'estimated_ba_using_speedangle', 'estimated_woba_using_speedangle', 'woba_value', 'woba_denom', 'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number', 'pitch_number']

,pitch_type,game_date,release_speed,release_pos_updated_x,release_pos_updated_z,player_name,batter,pitcher,events,description,...,release_pos_updated_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.00,0.000,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.00,0.000,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.00,0.000,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3431,CH,2016-08-13,85.6,-1.9659,5.9113,Aaron Judge,592450,542882,NaN,ball,...,54.8144,0.00,0.000,NaN,NaN,NaN,NaN,NaN,36,1
3432,CH,2016-08-13,87.6,-1.9318,5.9349,Aaron Judge,592450,542882,home_run,hit_into_play_score,...,54.8064,0.98,1.937,2.0,1.0,0.0,3.0,6.0,14,4
3433,CH,2016-08-13,87.2,-2.0285,5.8656,Aaron Judge,592450,542882,NaN,ball,...,54.7770,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,3
3434,CU,2016-08-13,79.7,-1.7108,6.1926,Aaron Judge,592450,542882,NaN,foul,...,55.4756,0.00,0.000,NaN,NaN,NaN,NaN,1.0,14,2
3435,FF,2016-08-13,93.2,-1.8476,6.0063,Aaron Judge,592450,542882,NaN,called_strike,...,54.4299,0.00,0.000,NaN,NaN,NaN,NaN,NaN,14,1

RS
Ray

In [ ]:
dict_repl.items()

dict_items([('Aaron', 'RS'), ('Judge', 'Ray')])

In [ ]:
judge.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'pos2_person_id', 'umpire',
       'sv_id', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pos1_person_id',
       'pos2_person_id.1', 'pos3_person_id', 'pos4_person_id',
       'pos5_person_id', 'pos6_person_id', 'pos7_person_id', 'pos8_person_id',
       'pos9_person_id', 'release_pos_y', 'estimated_ba_using_speedangle',
       'estimated_woba_using_speedangle', 'woba_value', 'woba_denom',
       'babip_value', 'iso_value', 'launch_speed_angle', 'at_bat_number',
       'pitch_number'],
      dtype='object')

In [ ]:
stanton.head(100)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,SL,2017-10-01,86.4,-1.0592,5.9057,Giancarlo Stanton,519317,527055,strikeout,swinging_strike,...,54.7356,0.000,0.000,0.0,1.0,0.0,0.0,NaN,80,4
1,FF,2017-10-01,98.1,-1.5517,5.7016,Giancarlo Stanton,519317,527055,NaN,foul,...,54.9704,0.000,0.000,NaN,NaN,NaN,NaN,4.0,80,3
2,FT,2017-10-01,97.0,-1.3408,5.6190,Giancarlo Stanton,519317,527055,NaN,foul,...,54.3777,0.000,0.000,NaN,NaN,NaN,NaN,NaN,80,2
3,FT,2017-10-01,98.0,-1.4515,5.8013,Giancarlo Stanton,519317,527055,NaN,foul,...,54.6421,0.000,0.000,NaN,NaN,NaN,NaN,3.0,80,1
4,FT,2017-10-01,94.2,-0.9315,7.0124,Giancarlo Stanton,519317,462382,field_out,hit_into_play,...,54.6464,0.048,0.045,0.0,1.0,0.0,0.0,2.0,64,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CH,2017-09-26,79.7,1.9553,6.2379,Giancarlo Stanton,519317,542881,NaN,called_strike,...,55.0172,0.000,0.000,NaN,NaN,NaN,NaN,NaN,25,1
96,CH,2017-09-26,82.8,1.7026,6.3230,Giancarlo Stanton,519317,542881,field_out,hit_into_play,...,54.9022,0.057,0.053,0.0,1.0,0.0,0.0,2.0,2,6
97,FF,2017-09-26,91.7,1.9910,6.0800,Giancarlo Stanton,519317,542881,NaN,called_strike,...,54.5563,0.000,0.000,NaN,NaN,NaN,NaN,NaN,2,5
98,FT,2017-09-26,90.9,1.7438,6.2052,Giancarlo Stanton,519317,542881,NaN,foul,...,54.4777,0.000,0.000,NaN,NaN,NaN,NaN,5.0,2,4
99,CH,2017-09-26,80.6,1.8867,6.2411,Giancarlo Stanton,519317,542881,NaN,ball,...,54.7996,0.000,0.000,NaN,NaN,NaN,NaN,NaN,2,3

Strings:

1. Reverse a string word by word: "Hello world" -> "world Hello"
2. Replace vowels with their uppercase counterparts: "apple" -> "ApPlE"
3. Extract all numbers from a string: "There are 3 apples and 2 bananas." -> [3, 2]
4. Count occurrences of each character: "Mississippi" -> {'M': 1, 'i': 4, 's': 4, 'p': 2, 'a': 1}
5. Create a Caesar cipher encryption/decryption: Shift characters by a given number

DataFrames:

1. Calculate average of each column: Print average values for each column
2. Filter rows based on multiple conditions: Select rows where two columns meet specific criteria
3. Find unique values in a specific column: List all unique values in a chosen column
4. Group rows by a column and calculate summary statistics: Group by category and show mean, std, etc. for numerical columns
5. Join two DataFrames on a common column: Merge data based on shared information

Dictionaries:

1. Sort dictionary by keys or values: Order alphabetically or by numerical value
2. Create a new dictionary with reversed key-value pairs: "a": 1 -> {1: "a"}
3. Find the most frequent key-value pair: Identify the key with the highest associated value
4. Remove all keys with empty values: Clean the dictionary for further analysis
5. Update values based on specific conditions: Change values that meet certain criteria

Lists:

1. Remove duplicate elements from a list: Keep only unique values
2. Find the longest substring without repeating characters: "abcabcbb" -> "abc"
3. Flatten a nested list: Convert [[1, 2], [3, 4]] to [1, 2, 3, 4]
4. Calculate the factorial of a number: 5! = 120
5. Generate a Fibonacci sequence up to a limit: [0, 1, 1, 2, 3, 5, ...]

Text Manipulation:

1. Clean text data by removing punctuation and stop words: Prepare text for analysis
2. Tokenize a sentence into words: Split "This is a sentence." into ["This", "is", "a", "sentence."]
3. Perform named entity recognition (NER): Identify entities like people, locations, etc.
4. Stem or lemmatize words: Normalize words to their base form
5. Calculate document similarity using TF-IDF: Compare textual content

Combined:

1. Convert a string to a dictionary based on key-value pairs: "name=John,age=30" -> {"name": "John", "age": 30}
2. Iterate through a DataFrame and build a list of dictionaries: Extract specific data into a new format
3. Combine elements from dictionaries in a list based on a common key: Merge data from multiple sources
4. Create a nested dictionary structure from a list of lists: Organize hierarchical data
5. Use a for loop to build a regular expression pattern: Match complex patterns in text

Advanced:

1. Use a for loop with enumerate to access both index and value in a list: Efficient iteration with index tracking
2. Implement a generator expression for concise data manipulation: Create iterables efficiently
3. Combine for loops with list comprehensions for complex data transformations: Build complex data structures in a single line
4. Use recursion with for loops to solve problems like tree traversal: Solve problems requiring backtracking
5. Write a custom progress bar using a for loop and print statements: Track computational progress for user feedback

Bonus:

Create a word cloud visualization from a list of words: Visually represent word frequencies
Build a simple chatbot using nested for loops and conditional statements: Respond to user input in a structured way
Scrape data from a website using for loops and libraries like Beautiful Soup: Extract information from web pages
Solve a classic algorithm problem like sorting or searching using for loops: Implement

In [ ]:
# if foo and ba are found replace them with poo and ca, with flagging (is_modified is a flag)
# if break statement is used in for loop)
# creating dictionary for replacement

repl_ = {
    "foo":"poo",
    "ba":"ca"
}

names = ["foo", "bar", "baz", "fool", "fig", "ab123", 'ab123@', "rans"]

new_lst = []
for i in names:
    is_modified = False
    for key, value in repl_.items():
        if key in i:
            word = re.sub(key,value,i)
            is_modified = True
            new_lst.append(word)
            break
    if not is_modified:
        new_lst.append(i)    
    #else:
        #new_lst.append(word) 
            
print(new_lst)

['poo', 'car', 'caz', 'pool', 'fig', 'ab123', 'ab123@', 'rans']

In [16]:
# For loop on des to replace where Aaron is found to replace it with RS and Judge with Ray

dict_repl = {
    'Aaron': 'RS',
    'Judge': 'Ray'
}

judge1 = judge
judge1["des"] = judge1["des"].replace(np.nan, " ")

In [ ]:
judge1[["des"]].head()

                                          des
0         Aaron Judge strikes out swinging.
1                                        None
2                                        None
3  Aaron Judge walks.   Aaron Hicks to 2nd.
4                                        None

In [24]:
import re



text = "Ransingh Aaron Study Python"

for i in text1:
        text_list = re.split(" ",text1) # first the text is splitted to form a list [] ["strikes", "Aaron", "Judge", "out", "swinging"]
        new_text = []
        for text in text_list: # 1. "strikes" in ["strikes", "Aaron", "Judge", "out", "swinging"]
            is_modified = False # initializing is_modified to False
            for key, value in dict_repl.items(): # key -> 1. "Aaron", 2. "Judge" , value -> 1. "RS", 2. "Ray" 
                if key in text: # Aaron in strikes , for Judge in strike => break,  # Aaron in Aeron , Judge in Aeron
                    is_modified = True # False => break                             # True
                    new_word = re.sub(key,value,text)                               # Aaron to RS,
                    new_text.append(new_word)                                       # ["strike", "RS", ]
                    break
            if is_modified == False: # this is run only if break statement is reached
                new_text.append(text)            # strike                                         
        
    sent =  " ".join(new_text)
   

# replacement_string(text)
replacement_string(text)

TypeError: expected string or bytes-like object, got 'list'

In [10]:
import pandas as pd
judge = pd.read_csv("./basketball/judge.csv")

In [11]:
judge2 = judge.loc[:100]

In [19]:
judge2['des'] = judge2['des'].replace(np.nan," ")

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_37860\4129444303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  judge2['des'] = judge2['des'].replace(np.nan," ")

In [20]:
judge2['des']

0             Aaron Judge strikes out swinging.
1
2
3      Aaron Judge walks.   Aaron Hicks to 2nd.
4
                          ...
96
97                           Aaron Judge walks.
98
99
100
Name: des, Length: 101, dtype: object

In [12]:
judge2

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number
0,FF,2017-09-30,95.7,-2.3581,5.9240,Aaron Judge,592450,608678,strikeout,swinging_strike,...,54.0129,0.0,0.0,0.0,1.0,0.0,0.0,NaN,53,3
1,FF,2017-09-30,96.3,-2.5577,5.9023,Aaron Judge,592450,608678,NaN,called_strike,...,54.1114,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,2
2,FF,2017-09-30,95.2,-2.3861,5.8346,Aaron Judge,592450,608678,NaN,called_strike,...,54.0285,0.0,0.0,NaN,NaN,NaN,NaN,NaN,53,1
3,FT,2017-09-30,93.4,4.2502,4.6506,Aaron Judge,592450,571901,walk,ball,...,54.7309,0.0,0.0,0.7,1.0,0.0,0.0,NaN,36,5
4,FT,2017-09-30,92.8,4.1144,4.4696,Aaron Judge,592450,571901,NaN,called_strike,...,54.5228,0.0,0.0,NaN,NaN,NaN,NaN,NaN,36,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,CH,2017-09-26,90.7,2.2751,6.6861,Aaron Judge,592450,605483,NaN,swinging_strike,...,53.9781,0.0,0.0,NaN,NaN,NaN,NaN,NaN,8,1
97,FF,2017-09-25,92.1,-1.4879,5.9310,Aaron Judge,592450,573046,walk,ball,...,53.8953,0.0,0.0,0.7,1.0,0.0,0.0,NaN,69,5
98,FF,2017-09-25,91.0,-1.5880,5.9950,Aaron Judge,592450,573046,NaN,ball,...,53.9449,0.0,0.0,NaN,NaN,NaN,NaN,NaN,69,4
99,FT,2017-09-25,90.9,-1.6920,5.8639,Aaron Judge,592450,573046,NaN,foul,...,53.5112,0.0,0.0,NaN,NaN,NaN,NaN,NaN,69,3
100,FF,2017-09-25,91.0,-1.5490,5.9417,Aaron Judge,592450,573046,NaN,ball,...,54.1307,0.0,0.0,NaN,NaN,NaN,NaN,NaN,69,2

# Explanation of the above code:
1. first the text is splitted to form a list
2. Then we iterate over the text in the list
   1. we made a flag named is_modified which would change iff the pattern is found in the list elements
   2. if found in keys the counter changes to text to the values in key in the text
   3. it keep on appending to the list
   4. break is reached if no matches is found
3. if no matches is found , is_modify remain as false and we append the text to list
4. finally we join everything

0                     Aaron Judge strikes out swinging.
1                                                    None
2                                                    None
3              Aaron Judge walks.   Aaron Hicks to 2nd.
4                                                    None
                              ...
3431                                                 None
3432    Aaron Judge homers (1) on a fly ball to center...
3433                                                 None
3434                                                 None
3435                                                 None
Name: des, Length: 3436, dtype: object

In [ ]:
names = ["rannsingh","sssatyajit","raayyyy","ray1","satyajit"]

# new_names = ["ransingh","satyajit","ray","ray1","satyajit"]

name = "Rannsiinggh"

output = ""
prev_char = None  # Keep track of the previous character

for char in name:
    if char != prev_char:  # Add character if it's different from the previous one
        output += char
        prev_char = char
        
output

'Ransingh'

In [ ]:
# doing the above using index
output = ""
prev_char = None

for i in range(len(name)):
    if name[i]!=prev_char:
        output+=name[i]
        prev_char = name[i]
        
output

'Ransingh'

Here we initialized the previous character to None and them made the update to it inside the if condition inside for loop, so that the updates can be matches with the current words.


# In the for loop thus it is very important to keep
1. Flags or checks with True/False for conditional updates, like the is_modified variable we used
2. empty list or string that can be updated as per the requirement using append and += respectively
3. Initial value assigning (to None) to kick start some conditional checking when not assigning may end up with error(eg. range initiated with 0, when we use to match previous element for initial value the index may become -1 which is not correct)
4. For dataframe, we do things for single then use apply to make the changes through out. This helps in avoid complicated nested loop

In [ ]:
names = ["rannsingh","sssatyajit","raayyyy","ray1","satyajit"]

new_name = list()     # empty list

for name in names:
    prev_char = None  # initiator
    new_wrd = ""      # empty  word
    for i in range(len(name)):
        if name[i]!=prev_char:
            new_wrd+=name[i]
            prev_char=name[i]
        new_word = new_wrd     # we did it outside the if loop as we are extracting the complete word with out repeatation, this finishes the task of inner for loop
    new_name.append(new_word)  # this is part of outer for loop whose task is to update the list
    
new_name

['ransingh', 'satyajit', 'ray', 'ray1', 'satyajit']

In [26]:
help(re.escape)

Help on function escape in module re:

escape(pattern)
    Escape special characters in a string.

In [30]:
re.escape("Aaron ")

'Aaron\\ '

In [33]:
import re # This brings in a special toolbox called "regular expressions" that helps find patterns in text.

def replacement_string(text1: list):
    compl_string = [] # to store the modified sentences.
    for text in text1:  # This starts a loop that looks at each sentence in the list one by one.
        new_text = re.sub("|".join(re.escape(key) for key in dict_repl), # It uses the re tool to find words that need replacing.
                          lambda m: dict_repl[m.group(0)], text) # 
        compl_string.append(new_text)
    return compl_string

# Example usage:
text1 = ["Ransingh Aaron Study Python", " ", "Aaron Judge reads data science", "ok allright"]
dict_repl = {'Aaron': 'RS', 'Judge': 'Ray'}

result = replacement_string(text1)
print(result)  # Output: ['Ransingh RS Study Python', ' ', 'RS Ray reads data science', 'ok allright']

['Ransingh RS Study Python', ' ', 'RS Ray reads data science', 'ok allright']

In [36]:
text = "Ransingh Aaron Study Python"
dict_repl = {'Aaron': 'RS', 'Judge': 'Ray'}

new_text = re.sub("Aaron|Judge", lambda m: dict_repl[m.group(0)], text) # ????????????
print(new_text)  # Output: "Ransingh RS Study Python"

Ransingh RS Study Python

In [38]:
dict_repl['Aaron'.group(0)]

AttributeError: 'str' object has no attribute 'group'