In [1]:
import pandas as pd
import numpy as np

C:\Users\Ransingh\AppData\Local\Temp\ipykernel_32604\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

1. For loop on df
2. on list
3. on string
4. on dictionary
5. enumerate, items, iterrows, range
6. for else
7. for (if else) else

1. for i in list, tuple, dict keys or values
2. for i,j in dict.items()
3. for i in range(start, end)
4. for i in df.columns
5. for row_index, row_data in df.iterrows()
6. for column_name, column_data in df.items()
7. for index, element in enumerate -> list, tuple, set, string, np.array
8. appending inside for + if elif loop
9. indexing concept in string vs list , what could be done what could'nt be
10. what function or feature on string helps in iterating over it - split, join, compile in re, replace,
11. function + for
12. function + for + (if + elif + else)
13. function + for + (if + elif + else) + else
14. function with try :for + (if + elif + else) + break + else except
15. how to know how many parts an iterable has ?
16. mapping every thing to list comprehension
17. for with zip

In [2]:
for i, j in [4, 3, 2, 1]:
    print(f"i: {i}, j: {j}")

TypeError: cannot unpack non-iterable int object

In [3]:
for item in [4, 3, 2, 1]:
    print(f"Item: {item}")

Item: 4
Item: 3
Item: 2
Item: 1

In [4]:
for i, j in [(4, 'four'), (3, 'three'), (2, 'two'), (1, 'one')]:
    print(f"i: {i}, j: {j}")

i: 4, j: four
i: 3, j: three
i: 2, j: two
i: 1, j: one

In [8]:
import pandas as pd
import numpy as np
import random

data1 = pd.DataFrame({
    "Col1": np.array(random.sample(["a","b",np.nan], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
})

data1

   Col1  Col2
0     b    20
1     b    30
2   nan    76
3   nan    75
4     b    89
5     a    84
6   nan    19
7     a    36
8     b    82
9     a    58
10    b    23
11    a    35
12    b    56
13    a    25
14  nan    64
15    b     5
16    b    75
17    b    96
18    b    80
19    a    34
20    b    39
21    a    83
22  nan    14
23    a    42
24  nan    14
25    a    53
26    a    19
27    b    29
28    b    37
29    b    43
30  nan    61
31    b    44
32    b    83
33    b    61
34  nan     3
35    b    84
36    a    24
37    a    90
38    a    62
39    b    41
40    b    35
41    a    36
42    b    27
43    b     2
44    b    29
45    b    92
46    b    79
47    a    84
48    b    43
49  nan    32
50    a    93
51    a    93
52    a    13
53    a    21
54    b    25
55    b    37
56  nan    73
57    b    69
58    b    48
59    a    99

In [9]:
dict= {
    "Col1": np.array(random.sample(["a","b",np.nan], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
}

In [10]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [ ]:
# np.nan is used for integer float, if it is used on string then it makes the column unassigned integer type for which many
# operation might not take place easily. The missing values in dictionary are given by null

In [13]:
for i in dict:
    print(i)

Col1
Col2

In [15]:
for i in dict.keys():
    print(i)

Col1
Col2

In [16]:
for j in dict.values():
    print(j)

['a' 'a' 'b' 'a' 'b' 'b' 'a' 'b' 'b' 'b' 'a' 'b' 'b' 'b' 'b' 'a' 'b' 'b'
 'b' 'nan' 'a' 'a' 'b' 'a' 'b' 'b' 'nan' 'a' 'b' 'b' 'nan' 'a' 'b' 'nan'
 'a' 'b' 'b' 'a' 'b' 'b' 'nan' 'b' 'a' 'a' 'b' 'nan' 'b' 'b' 'a' 'b' 'nan'
 'a' 'nan' 'a' 'nan' 'b' 'nan' 'a' 'a' 'b']
[51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [ ]:
for i in dict["Col2"]:
    print(i)

In [20]:
for i,j in dict.items():
    print(i, "has", j)

Col1 has ['a' 'a' 'b' 'a' 'b' 'b' 'a' 'b' 'b' 'b' 'a' 'b' 'b' 'b' 'b' 'a' 'b' 'b'
 'b' 'nan' 'a' 'a' 'b' 'a' 'b' 'b' 'nan' 'a' 'b' 'b' 'nan' 'a' 'b' 'nan'
 'a' 'b' 'b' 'a' 'b' 'b' 'nan' 'b' 'a' 'a' 'b' 'nan' 'b' 'b' 'a' 'b' 'nan'
 'a' 'nan' 'a' 'nan' 'b' 'nan' 'a' 'a' 'b']
Col2 has [51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [ ]:
# How to check what is there in the item

In [25]:
# printing only for column Col2
for col,val in dict.items():
    if col=="Col2":
        print(val)

[51 61 81 54 17 75 62 42  6  8 43  7 57 87 40 46 33 65 34 93 70 98 83 62
 23 78 91 74 36 47 40 48 77 59 50 65 63 31 55 95 94 19 62 83 53  3 32 96
 90 89 39 10 42 96 28 80 87  7 58 86]

In [33]:
# printing for column col2 and values divisible by 2
for col, val in dict.items():
    if col == "Col2":
        for val_items in val:
            if val_items%2 == 0:
                print(val_items)

54
62
42
6
8
40
46
34
70
98
62
78
74
36
40
48
50
94
62
32
96
90
10
42
96
28
80
58
86

In [47]:
dict.items()

dict_items([('Col1', array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
       'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
       'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
       'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
       'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
      dtype='<U32')), ('Col2', array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
       65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
       50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
       10, 42, 96, 28, 80, 87,  7, 58, 86]))])

In [56]:
a = [1,2,3]
b = {"a":[1,2,3],
     "c":[4,5,6]}

list(zip(a,b.values())) # b alone means keys

[(1, [1, 2, 3]), (2, [4, 5, 6])]

In [58]:
my_list = [1, 2, 3]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [59]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [60]:
my_list = [1, 2, 3, 4]
my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry','d':'x','e':'y'}

result = list(zip(my_list, my_dict))
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# For those indices pair can be formed are included in zip

In [68]:
list(zip(dict.values(),dict["Col2"]))[0]

(array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 51)

In [36]:
# printing for column col2 and values divisible by 2 and where col1 is a
# Iterate through the dictionary using items()
for key, values in dict.items():
    # Check if the current key is "Col1"
    if key == "Col1":
        # Iterate through the values and corresponding values in "Col2"
        for val1, val2 in zip(values, dict["Col2"]): # the pair id formed for attributes in col1 and col2
            # Check if the value in "Col1" is 'a' and the value in "Col2" is divisible by 2
            if val1 == 'a' and val2 % 2 == 0:
                print(val2)

54
62
46
70
98
62
74
48
50
62
90
10
96
58

In [92]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [38]:
# printing for column col2, col1 and values divisible by 2 and where col1 is a, print the pairs
for val1, val2 in zip(dict['Col1'],dict['Col2']):
    if val1 in ["a","b"] and val2%2 == 0:
        print(val1,"is ", val2)

a is  54
a is  62
b is  42
b is  6
b is  8
b is  40
a is  46
b is  34
a is  70
a is  98
a is  62
b is  78
a is  74
b is  36
a is  48
a is  50
a is  62
b is  32
b is  96
a is  90
a is  10
a is  96
b is  80
a is  58
b is  86

In [70]:
my_dict = {'key1': [1,2,3], 'key2': [2,3,4], 'key3': [3,4,5]}
key_name = 'key2'

result = list(zip(my_dict.values(), [my_dict[key_name]]))
result

[([1, 2, 3], [2, 3, 4])]

In [72]:
my_dict.values()

dict_values([[1, 2, 3], [2, 3, 4], [3, 4, 5]])

In [73]:
my_dict[key_name]

[2, 3, 4]

In [74]:
dict

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [79]:
for col,val in dict.items():# all values stays in col and all values remain in val
    print(val[2]) # this gives values for Col1 and Col2 2nd element
    print(type(val[2])) # shows separately

b
<class 'numpy.str_'>
81
<class 'numpy.int32'>

In [87]:
my_dict

{'Col1': array(['a', 'b', 'nan', 'a', 'b'], dtype='<U32'),
 'Col2': array([39, 13, 48, 68, 76])}

In [116]:
dict # Here the allocation of nan to string data values is not the right approach

{'Col1': array(['a', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b', 'b', 'a', 'b', 'b',
        'b', 'b', 'a', 'b', 'b', 'b', 'nan', 'a', 'a', 'b', 'a', 'b', 'b',
        'nan', 'a', 'b', 'b', 'nan', 'a', 'b', 'nan', 'a', 'b', 'b', 'a',
        'b', 'b', 'nan', 'b', 'a', 'a', 'b', 'nan', 'b', 'b', 'a', 'b',
        'nan', 'a', 'nan', 'a', 'nan', 'b', 'nan', 'a', 'a', 'b'],
       dtype='<U32'),
 'Col2': array([51, 61, 81, 54, 17, 75, 62, 42,  6,  8, 43,  7, 57, 87, 40, 46, 33,
        65, 34, 93, 70, 98, 83, 62, 23, 78, 91, 74, 36, 47, 40, 48, 77, 59,
        50, 65, 63, 31, 55, 95, 94, 19, 62, 83, 53,  3, 32, 96, 90, 89, 39,
        10, 42, 96, 28, 80, 87,  7, 58, 86])}

In [124]:
print(data)

{'key1': ['a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan, 'a', 'b', nan], 'key2': array([0.19615734, 0.91052928, 0.60205909, 0.88099849, 0.35272271,
       0.89136729, 0.39858927, 0.75322531, 0.38194119, 0.08658276,
       0.15257104, 0.58993193, 0.48780965, 0.09487376, 0.52491868,
       0.33394694, 0.18277336, 0.63216154, 0.50881591, 0.63807984])}

In [125]:
type(data)

dict

In [126]:
dict.keys()

dict_keys(['Col1', 'Col2'])

In [127]:
# Convert the missing values in key1 to boolean values using np.isnan():
is_missing = np.isnan(data['key1'])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [129]:
# None are used for string

dict= {
    "Col1": np.array(random.sample(["a","b",None], counts=[20,30,10], k=60)),
    "Col2": np.random.randint(1,100,60)
}

In [130]:
dict

{'Col1': array(['b', 'a', 'b', 'b', 'a', 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b',
        'a', None, None, 'b', 'a', 'a', None, None, None, None, 'a', 'a',
        'a', 'a', 'b', None, 'b', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b',
        None, 'b', 'b', 'b', 'b', 'b', None, 'a', 'b', 'b', None, 'b', 'b',
        'b', 'b', 'a', 'b', 'a', 'a', 'b', 'b', 'b'], dtype=object),
 'Col2': array([25, 88, 93, 63, 34, 51, 42, 62,  5, 76, 25, 24, 99, 34, 48, 85, 36,
        13,  9, 92, 71, 55, 19, 80, 94, 32, 84, 29, 81, 68, 28, 44, 84, 49,
        72, 97,  1,  7, 44, 64, 26, 42, 44, 42, 15, 54, 71, 22, 46,  6, 46,
        68, 47, 56, 75, 40, 87,  7, 47, 28])}

In [134]:
# for dict find the obs in Col2 which are multiple of 4 with values in col1 either missing or a
for val1, val2 in zip(dict['Col1'],dict['Col2']):
    if val1 in ['a',None]:
        print(val2)

88
34
51
42
5
24
34
48
85
13
9
92
71
55
19
80
94
32
84
81
28
84
97
44
15
54
46
56
40
87

In [133]:
# Iterate through the values in Col1 and Col2 simultaneously
for val1, val2 in zip(my_dict["Col1"], my_dict["Col2"]):
    # Check if the value in Col2 is a multiple of 4 and the value in Col1 is either missing or 'a'
    if val2 % 4 == 0 and (val1 is None or val1 == 'a'):
        print(val2)

8
80
56

In [135]:
dataset = pd.read_csv("D:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Real Python\stud.csv")

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\Ransingh\AppData\Local\Temp\ipykernel_32604\3988117044.py:1: SyntaxWarning: invalid escape sequence '\E'
  dataset = pd.read_csv("D:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Real Python\stud.csv")

In [136]:
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [137]:
dict

{'Col1': array(['b', 'a', 'b', 'b', 'a', 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b',
        'a', None, None, 'b', 'a', 'a', None, None, None, None, 'a', 'a',
        'a', 'a', 'b', None, 'b', 'a', 'b', 'a', 'b', 'b', 'a', 'b', 'b',
        None, 'b', 'b', 'b', 'b', 'b', None, 'a', 'b', 'b', None, 'b', 'b',
        'b', 'b', 'a', 'b', 'a', 'a', 'b', 'b', 'b'], dtype=object),
 'Col2': array([25, 88, 93, 63, 34, 51, 42, 62,  5, 76, 25, 24, 99, 34, 48, 85, 36,
        13,  9, 92, 71, 55, 19, 80, 94, 32, 84, 29, 81, 68, 28, 44, 84, 49,
        72, 97,  1,  7, 44, 64, 26, 42, 44, 42, 15, 54, 71, 22, 46,  6, 46,
        68, 47, 56, 75, 40, 87,  7, 47, 28])}

In [ ]:
for i in range(1,len(dict['Col1'])):
    print(i)

In [141]:
dataset

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [142]:
for i in dataset.columns:
    print(i)

gender
race_ethnicity
parental_level_of_education
lunch
test_preparation_course
math_score
reading_score
writing_score

In [144]:
# filtering rows using for loop
filtered_row = list() 
for rw_indx, row in dataset.iterrows(): # here row contains information on column name also, as list element index
    if row['gender']=='male':
        filtered_row.append(row)
        
result_df = pd.DataFrame(filtered_row) # it automatically assigns column names

In [145]:
result_df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
10,male,group C,associate's degree,standard,none,58,54,52
...,...,...,...,...,...,...,...,...
985,male,group A,high school,standard,none,57,51,54
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55

In [157]:
# We usually use append to combine list output when we want row as output
list_for_keeping_filtered_element = list()
for row_index , row in dataset.iterrows():
    if row_index%2 == 0 and row['race_ethnicity'] in ['group A', 'group B']:
        list_for_keeping_filtered_element.append(row_index)
        
dataset.iloc[list_for_keeping_filtered_element,]

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
12,female,group B,high school,standard,none,65,81,73
14,female,group A,master's degree,standard,none,50,53,58
...,...,...,...,...,...,...,...,...
976,male,group B,some college,free/reduced,completed,60,62,60
980,female,group B,high school,free/reduced,none,8,24,23
982,male,group B,some high school,standard,completed,79,85,86
988,female,group A,some high school,free/reduced,none,44,45,45
994,male,group A,high school,standard,none,63,63,62

In [156]:
# The best usage of dataframe.items is doing any string operation on the column names directly:

InvalidIndexError: ([1, 2, 3],)

In [147]:
type(filtered_row)

list

In [152]:
filtered_row[1]['gender']

'male'